body {
	background-color: aqua;
}
h1 {
	font-size: 3em;
}
h3 {
	font-size: 1.5em;
}
.wrap {
	background-color: white;
	width: 75%;
	margin: auto;
	text-align: center;
}
ul {
	text-align: left;
	padding-left: 35%;
}
ol {
	text-align: left;
	padding-left: 30%;
}
h3:hover{
	animation-duration: 1s;
	animation-name: grow;
	animation-fill-mode: backwards;
}
h5:hover {
	transform: scale(1.1);
}
h5 {
	font-size: 1.2em;
}
#marta {
	text-align: left;
}
@keyframes grow {
	50% {
		transform: scale(1.5,1.5);
	}
}
#conditions {
	background-color: tan;
	display: grid;
	 grid-template-columns: 50% 50%;
}